serverMES/node_modules/
serverMES/.vscode/
serverMES/log.txt
serverMES/servermes.exe
serverMES/configs.js
viewer/node_modules/
viewer/.vscode
viewer/dist/
*.vscode
serverMES.rar
serverSup.rar
viewer.rar

